body{
    background: url(https://static9.depositphotos.com/1661836/1133/v/950/depositphotos_11333891-stock-illustration-technology-inspired-background.jpg) no-repeat center center;
    background-size: cover;
}


.user-img img {
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
    margin-top: -90px;
}

h1 {
    text-align: center;
}

.text-muted {
    font-weight: bold;
}

label {
    font-size: 17px;
}

.form-check-input{
    width: 17px;
    height: 17px;
}